body {
  margin: auto;
  width: 900px;
}

.clearfix {
  clear: both;
}

header {
  margin-top: 35px;
}

.logo {
  float: left;
  margin-right: 10px;
}

.title {
  margin-top: -5px;
  float: left;
}

#delicious {
  margin-left: -6px;
  font-family: Yellowtail;
  font-weight: bold;
  font-size: 40px;
}

#food {
  font-size: 10px
}

.icons {
  float: right;
  margin-top: 10px;
}

.icons ul li {
  display: inline-block;
  margin-left: -2px;
}

.icons ul li:nth-child(5) {
  margin-left: -3px;
}

.icons ul li:nth-child(6) {
  margin-right: 8px;
}

.divider {
  margin-top: 30px;
  margin-bottom: 52px;
  height: 13px;
  width: 100%;
  background: black;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.posted {
  float: left;
  font-size: 12px;
}

.print {
  float: right;
  font-size: 12px;
  margin-left: 2px;
}

#choco {
  width: 900px;
  margin-top: 32px;
}


article p {
  margin-top: 30px;
  text-indent: 30px;
  line-height: 25px;
  font-size: 21px;
}

.recipe {
  position: relative;
  margin-top: 30px;
  font-family: cursive;
  font-size: 20px;
  line-height: 31px;
}

input {
  margin-right: 10px;
}

.recipe img {
  width: 900px;
}

.list-left {
  position: absolute;
  top: 36px;
  left: 60px;

}

.list-right {
  width: 400px;
  position: absolute;
  top: 36px;
  left: 450px;
}

.bottom {
  margin-top: 40px;
  margin-bottom: 20px;
}

.author {
  margin-top: 30px;
  margin-bottom: 60px;
}

.author h3 {
  font-size: 22px;
  font-weight: bolder;
}

.author img {
  float: left;
  margin-right: 20px;
}

.author p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  width: 600px;
  float: left;
}

button {
  margin-top: -15px;
  float: right;
  background-color: #bc7058;
  font-size: 20px;
  color: white;
  border: none;
  width: 180px;
  height: 55px;
}

footer {
  margin-top: 140px;
  margin-bottom: 80px;
  text-align: center;
}

footer hr {
  display: inline-block;
  width: 428px;
}

footer img {
  display: inline-block;
}

footer p {
  margin-top: 30px;
  line-height: 22px;
  color: #bfb8be;
}
